<p>Cher {{ client.firstName }} {{ client.lastName }},</p>
<p>Vous avez des nouveaux images téléchargés sur votre espace client</p>
<p>Veuillez les consulter et nous donner vos retours . </p>
Cordialement